body {
	background-color: #f4f4f4;
	
}


.chatbox{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 800px;
	
	box-shadow: 0 3px #ccc;
}

#rooms_panel {
	
	width: 130px;
	height: 800px;
	background-color: black;
	float: left;
	
}

#chat_panel {
	width: 800px;
	height: 800px;
	background-color: #5e5e5e;
	
}

.chat_messages {
	padding: 10px;
	height: 700px;
	background: #373737;
	overflow-x: hidden;
	overflow-y: scroll;
	 
}

.chat_messages::-webkit-scrollbar {
	width:10px;
}


.chat_messages::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

textarea {
    resize: none;
	border: 1px solid #c5c5c5;
	background-color: #373737;
	color: #f4f4f4;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 11px;
	
}

textarea:focus{
	outline: none !important;
	border: 1px solid #fdfdfd;
	
}

.chat{
	background-color: #373737;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	border-bottom: 1px solid grey; 
	padding: 10px;
}

.photo_box {
	width: 80px;
	height: 100%;
	background-color: #373737;
	float: left;
}

.chat .user_photo{
	width: 60px;
	height: 60px;
	margin-top: 5px;
	background: #ccc;
	border-radius: 50%;
	
}

#nickname_field {
    border: none;
    outline: none;
    background-color: transparent;
}

.message_box {
	width:86%;
	background-color: #373737;
	heigh: 100%;
	color: #f4f4f4;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 11px;
}
.chat .user_info {
	margin: 0px;
	margin-left: 15px;
	
}

.chat .chat_message {
	margin: 5px 10px 0;
	background: #373737;
	border-radius: 10px;
	font-size: 13px;
	
}

.somebody .chat_message {
	background: #373737;
}

.self .chat_message {
	
}