body {
	background-color: #a6a6a6;
	
}


#welcome_box{
	
	background-color: #5c5c5c;
}

.chatbox{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 800px;
	
	box-shadow: 0 3px #ccc;
}

.btns_rooms {
	
	height: 50px;
	width: 110px;
	border: 1px solid #fdfdfd;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 15px;
	color: #fdfdfd;	
    cursor: pointer; 
	outline: 0;
	
}


.btns_rooms:active {
	border: 1px solid black;
	color: black;
}


#chat_panel {
	width: 800px;
	height: 835px;
	background-color: #5c5c5c; /*#5e5e5e;*/
	
	
}

#room_name {
	font-size: 30px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #f2f2f2;
}

.nn {
	margin-left: 15px;
	margin-top: 15px;
	font-weight: bold;
	
	color: #E1FBCE;
}

.chat_messages {
	padding: 10px;
	height: 700px;
	background: #373737;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #fdfdfd;
	 
}

.chat_messages::-webkit-scrollbar {
	width:10px;
}


.chat_messages::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

#rooms_panel {
	
	width: 140px;
	height: 835px;
	background-color: #292929;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
		
}

#rooms_panel::-webkit-scrollbar {
	width:10px;
}


#rooms_panel::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}


textarea {
	margin-bottom: 0px;
    resize: none;
	border: 1px solid #c5c5c5;
	background-color: #373737;
	color: #f4f4f4;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 11px;
	float: left;
	
}

textarea:focus{
	outline: none !important;
	border: 1px solid #fdfdfd;
	
}

.chat{
	background-color: #373737;
	border-bottom: 1px solid #595959;
}


.msg_box{
	background-color: #373737;
	font-size: 12px;
	color: #cfcfcf;
}

.user_nick {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #dbdbdb;
}

.msg_time {
	padding-left: 5px;
	font-size: 9px;
	color: #595959;
	
}



#nickname_field {
    border: none;
    outline: none;
    background-color: transparent;
}


#disablingDiv
{
    display: none; 
 
    z-index:1001;
     
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
 
    background-color: #4d4d4d; 
	
	text-align:center;
	
	
}

.inside_disabling {
	margin-top: 20%;
	color: #f4f4f4;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
}


#enter_nick_field {
	border: 1px solid #c5c5c5;
	background-color: #373737;
	color: #f4f4f4;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	border-radius: 10px;
	padding-left: 5px;
	
}



#enter_nick_field:focus{
	outline: none !important;
	border: 1px solid #fdfdfd;
	
}

.btns_tool_box {
	margin-top: 3px;
	margin-left: 3px;
	background-color: #303030; 
	border: 1px solid white;
	border-radius: 10px;
    cursor: pointer;      
	color: #fdfdfd;	
    vertical-align: middle; 
    height: 36px;  	
	outline: 0;
}

.btns_tool_box:active {
	border: 1px solid black;
	color: black;
}

#geo{	
    background-image: url(location.png);     
    background-repeat: no-repeat; 
    background-position: 0px 0px;          
    padding-left: 36px;     
}

#chatting_tools_box {
	background-color: #5c5c5c;
}

#write_message {
	margin-top: 3px;
	margin-left: 3px;
}

#send {
	float: left;
	position: relative;
	margin-top: 10px;
	margin-left: 8px;
}

#clear {
	float: left;
	margin-top: 10px;
	margin-left: 8px;
}

#applyprivate {
	text-align:center;
	width: 80px;
}

